# PyCharm project files
.idea/

# Scripts
.scripts/

# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Migration files
migrations/

# Environment variables file
.env

# SQL database files
*.sqlite3